# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [1]:
def myfunction():
    print('Hello World')
    
myfunction() # calling function

Hello World

In [2]:
def funct():
    print(8*2)
funct()

16

### Why we need function?

In [3]:
print('2001 Newburg Road')
print('2001 Newburg Road')
print('2001 Newburg Road')
print('2001 Newburg Road')
print('2001 Newburg Road')

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

In [4]:
def address():
    print('2001 Newburg Road')
address()
address()
address()
address()
address()

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [5]:
def squared(number):
    return(number**2)
squared(3)

9

In [6]:
def cube(number):
    return(number**3)
cube(5)

125

## Our own functions for practice
`Echo` that will act same as print

In [9]:
def echo(data):
    return data
echo('What')

'What'

In [10]:
echo(67)

67

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [12]:
def book(title):
    print('One of my favorite books is',title)
book('Where the Red Fern Grows')

One of my favorite books is Where the Red Fern Grows

In [14]:
def book1(title):
    return ('One of my favorite books is',title)
book('Where the Red Fern Grows')

One of my favorite books is Where the Red Fern Grows

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [17]:
def calc_MPG(driven,gallons):
    return driven/gallons
calc_MPG(100,30)

3.3333333333333335

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [25]:
def MPG(miles=200,gallon=12):
    gallon=11
    return miles/gallon
MPG()

18.181818181818183

In [26]:
MPG(miles=400)

36.36363636363637

###  Function repeat using `for` loop

In [23]:
def repeatecho(data,count):
    for i in range(count):
        print(data)
repeatecho('2001 Newburg Road',5)

2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road
2001 Newburg Road

## Practice: Define a function called `name` and print your name 20 times using the function

In [24]:
def name(data,count):
    for i in range(count):
        print(data)
name('Bailey',20)

Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey
Bailey

### Write a function to find maximum of three values

In [28]:
def M (a,b,c):
    if a>b and a>c:
        largest=a
    elif b>a and b>c:
        largest=b
    else:
        largest=c
    return largest
M(52,96,4)

96

### Practice Example: Define `minimum` function of three values

In [29]:
def minimum(a,b,c):
    if a<b and a<c:
        smallest=a
    elif b<a and b<c:
        smallest=b
    else:
        smallest=c
    return smallest
minimum(52,1,89)

1

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [30]:
def add(*args):
    return sum(args)
add(10,23,45,67)

145

In [31]:
add(34,67,23,12,89,67,87)

379

In [34]:
def mean(*args):
    return (sum(args))/len(args)
mean(23,23,45,67)

39.5

### Arbitary Argumented list with list

In [36]:
numbers=[24,56,78,99]
mean(*numbers)

64.25

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [39]:
x=10

def scopeoffunction(num):
    return num*2
scopeoffunction(20)

40

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [40]:
x=10
def trytomodify():
    x=3.5
    print(x)
trytomodify()

3.5

In [41]:
x

10

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [42]:
x=10
def modifyglobal():
    global x
    x=3.5
    print(x)
modifyglobal()
x

3.5

3.5

## Write functions to find out Area and Perimeter of circle

In [43]:
from math import pi
pi

3.141592653589793

In [47]:
def areacircle(r):
    return pi*(r**2)
def perimcircle(r):
    return 2*pi*r

r=int(input('Enter the value of the radius: '))
print('The area of the circle is', areacircle(r))
print('The perimeter of the circle is', perimcircle(r))

Enter the value of the radius: 5
The area of the circle is 78.53981633974483
The perimeter of the circle is 31.41592653589793

## Write functions to find out Area and Perimeter of rectangle

In [49]:
def arrect(length,width):
    return length*width
def perrect(length,width):
    return (2*length)+(2*width)

length=int(input('Enter the length of the rectangle: '))
width=int(input('Enter the width of the rectangle: '))
print('The area of the rectangle is', arrect(length,width))
print('The perimeter of the rectangle is', perrect(length,width))

Enter the length of the rectangle: 8
Enter the width of the rectangle: 6
The area of the rectangle is 48
The perimeter of the rectangle is 28

## Random Number Generation
* Can introduce the element of chance via the Python Standard Library’s `random` module.

* `randrange` function generates an integer from the first argument value up to, but not including, the second argument value.
* Different values are displayed if you re-execute the loop.
* random.randrange where `random` is module and `randrange` is method

In [51]:
import random
x=random.randrange(10,20)
print(x)

15

In [56]:
# filling an empty list with random numbers
lis=[]
for i in range(10):
    x=random.randrange(1,20)
    lis.append(x)
print(lis)

[1, 6, 11, 13, 14, 11, 19, 6, 14, 7]

## Create a list of 20 numbers in the range of 30 to 50

In [57]:
u=[]
for i in range(20):
    x=random.randrange(30,51)
    u.append(x)
print(u)

[33, 30, 49, 45, 35, 48, 30, 47, 45, 35, 30, 40, 38, 41, 38, 37, 48, 34, 33, 34]

### Guess the number between 1 to 10

In [60]:
number=random.randint(1,10) #includes last number
enterednumber=None
time=0

while enterednumber!=number:
    enterednumber = int(input('Enter a number between 1 to 10: '))
    if enterednumber==number:
        print('You guessed the number in', time, 'guesses.')
    else:
        print('Try again')
    time=time+1

Enter a number between 1 to 10: 5
Try again
Enter a number between 1 to 10: 6
Try again
Enter a number between 1 to 10: 7
Try again
Enter a number between 1 to 10: 8
Try again
Enter a number between 1 to 10: 9
Try again
Enter a number between 1 to 10: 1
You guessed the number in 5 guesses.